td {
    width: 30px;
    height: 30px;
    background-image: url('skin.png');
}

.target {
    background-position: 0px 0px;
}

.floor {
    background-position: -30px 0px;
}

.wall {
    background-position: -60px 0px;
}

.crate {
    background-position: -90px 0px;
}

.crate-target{
    background-position: -1200px 0px;
}

.player {
    background-position: -1800px 0px;
}

.unknown {
    background-image: none;
    background-color: #FF0000;
}
